<a href="https://colab.research.google.com/github/ayushgargstonybrook/Zebra_ML/blob/master/Zebra_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn

from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection  import train_test_split
from sklearn import metrics 
from sklearn.metrics import classification_report
from sklearn.utils import shuffle

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
region1 = pd.read_csv("/content/drive/My Drive/Region1.csv")
region2 = pd.read_csv("/content/drive/My Drive/Region2.csv")
region3 = pd.read_csv("/content/drive/My Drive/Region3.csv")
region4 = pd.read_csv("/content/drive/My Drive/Region4.csv")
region1.columns = ['BeaconId','RSSI']
region2.columns = ['BeaconId','RSSI']
region3.columns = ['BeaconId','RSSI']
region4.columns = ['BeaconId','RSSI']
region1.head()

                               BeaconId  RSSI
0  9f234454-cf6d-4a0f-adf2-f4911ba9ffa3   -76
1  9f234454-cf6d-4a0f-adf2-f4911ba9ffa4   -74
2  9f234454-cf6d-4a0f-adf2-f4911ba9ffa2   -80
3  9f234454-cf6d-4a0f-adf2-f4911ba9ffa1   -61
4  9f234454-cf6d-4a0f-adf2-f4911ba9ffa4   -74

In [ ]:
len(region4)

4999

In [ ]:
region1.isnull().sum()

BeaconId    0
RSSI        0
dtype: int64

In [ ]:
region1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 2 columns):
BeaconId    4999 non-null object
RSSI        4999 non-null int64
dtypes: int64(1), object(1)
memory usage: 78.2+ KB

In [ ]:
region1.head(10)

                               BeaconId  RSSI
0  9f234454-cf6d-4a0f-adf2-f4911ba9ffa3   -76
1  9f234454-cf6d-4a0f-adf2-f4911ba9ffa4   -74
2  9f234454-cf6d-4a0f-adf2-f4911ba9ffa2   -80
3  9f234454-cf6d-4a0f-adf2-f4911ba9ffa1   -61
4  9f234454-cf6d-4a0f-adf2-f4911ba9ffa4   -74
5  9f234454-cf6d-4a0f-adf2-f4911ba9ffa2   -78
6  9f234454-cf6d-4a0f-adf2-f4911ba9ffa3   -75
7  9f234454-cf6d-4a0f-adf2-f4911ba9ffa1   -62
8  9f234454-cf6d-4a0f-adf2-f4911ba9ffa3   -73
9  9f234454-cf6d-4a0f-adf2-f4911ba9ffa4   -67

In [ ]:
def avgL5(arr):
  n = len(arr)
  res = []
  for i in range(0,n,5):
    if i+4>=n:
      continue
    avg = sum((arr[i],arr[i+1],arr[i+2],arr[i+3],arr[i+4]))
    res.append(avg/5)
  return res

In [ ]:
def splitBeacon(region):
  b1r=[]
  b2r=[]
  b3r=[]
  b4r=[]
  n = len(region)
  for i in range(n-1):
    if region.iloc[i]['BeaconId']=="9f234454-cf6d-4a0f-adf2-f4911ba9ffa1":
      b1r.append(region.iloc[i]['RSSI'])
    elif region.iloc[i]['BeaconId']=="9f234454-cf6d-4a0f-adf2-f4911ba9ffa2":
      b2r.append(region.iloc[i]['RSSI'])
    elif region.iloc[i]['BeaconId']=="9f234454-cf6d-4a0f-adf2-f4911ba9ffa3":
      b3r.append(region.iloc[i]['RSSI'])
    elif region.iloc[i]['BeaconId']=="9f234454-cf6d-4a0f-adf2-f4911ba9ffa4":
      b4r.append(region.iloc[i]['RSSI'])
  return b1r,b2r,b3r,b4r

**Region1**

In [ ]:
b1r1,b2r1,b3r1,b4r1 = splitBeacon(region1)

In [ ]:
len(b3r1)

996

In [ ]:
zb1r1=avgL5(b1r1)
zb2r1=avgL5(b2r1)
zb3r1=avgL5(b3r1)
zb4r1=avgL5(b4r1)

In [ ]:
len(zb4r1)

298

**Region2**

In [ ]:
b1r2,b2r2,b3r2,b4r2 = splitBeacon(region2)

In [ ]:
len(b1r2)

1136

In [ ]:
zb1r2=avgL5(b1r2)
zb2r2=avgL5(b2r2)
zb3r2=avgL5(b3r2)
zb4r2=avgL5(b4r2)

In [ ]:
len(zb4r2)

245

**Region3**

In [ ]:
b1r3,b2r3,b3r3,b4r3 = splitBeacon(region3)

In [ ]:
len(b2r3)

1116

In [ ]:
zb1r3=avgL5(b1r3)
zb2r3=avgL5(b2r3)
zb3r3=avgL5(b3r3)
zb4r3=avgL5(b4r3)

In [ ]:
len(zb1r3)

206

**Region4**

In [ ]:
b1r4,b2r4,b3r4,b4r4 = splitBeacon(region4)

In [ ]:
len(b3r4)

802

In [ ]:
zb1r4=avgL5(b1r4)
zb2r4=avgL5(b2r4)
zb3r4=avgL5(b3r4)
zb4r4=avgL5(b4r4)

In [ ]:
zb3r4[:5]

[-81.8, -78.0, -75.0, -73.6, -74.0]

In [ ]:
len(zb3r4)

160

**Concat**

In [ ]:
zb1 = zb1r1[:160] + zb1r2[:160] + zb1r3[:160] + zb1r4[:160]
zb2 = zb2r1[:160] + zb2r2[:160] + zb2r3[:160] + zb2r4[:160]
zb3 = zb3r1[:160] + zb3r2[:160] + zb3r3[:160] + zb3r4[:160]
zb4 = zb4r1[:160] + zb4r2[:160] + zb4r3[:160] + zb4r4[:160]

In [ ]:
len(zb1)

640

In [ ]:
label = [1]*160 + [2]*160 + [3]*160 + [4]*160

In [ ]:
len(label)

640

In [ ]:
print(label[639])

4

In [ ]:
df = pd.DataFrame(list(zip(zb1, zb2, zb3, zb4, label)), columns =['beacon1', 'beacon2', 'beacon3', 'beacon4', 'region'])

In [ ]:
df.head()

   beacon1  beacon2  beacon3  beacon4  region
0    -62.2    -76.8    -73.8    -69.8       1
1    -63.2    -75.6    -73.0    -67.2       1
2    -63.2    -73.8    -73.6    -69.6       1
3    -64.8    -73.8    -72.8    -75.2       1
4    -62.6    -77.2    -72.2    -73.8       1

In [ ]:
df.loc[160:165]

     beacon1  beacon2  beacon3  beacon4  region
160    -72.0    -66.6    -73.0    -73.0       2
161    -69.2    -64.4    -70.4    -72.6       2
162    -63.8    -58.0    -67.8    -71.2       2
163    -64.2    -58.6    -64.8    -72.0       2
164    -64.2    -58.8    -67.6    -72.0       2
165    -63.8    -58.0    -69.4    -71.6       2

In [ ]:
shuffdf = shuffle(df)

In [ ]:
shuffdf.head()

     beacon1  beacon2  beacon3  beacon4  region
186    -70.4    -63.2    -71.6    -69.4       2
384    -72.6    -78.0    -60.4    -64.0       3
141    -62.8    -87.6    -79.4    -71.8       1
435    -77.0    -75.6    -58.6    -58.6       3
592    -70.2    -73.6    -78.2    -64.2       4

**Logistic Regression Model Training**

In [ ]:
X = df[['beacon1', 'beacon2', 'beacon3', 'beacon4']]
y = df['region']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)

In [ ]:
# create logistic regression object 
reg = LogisticRegression() 
   
# train the model using the training sets 
reg.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
# making predictions on the testing set 
y_pred = reg.predict(X_test)

In [ ]:
# comparing actual response values (y_test) with predicted response values (y_pred) 
print("Logistic Regression model accuracy(in %):",  
metrics.accuracy_score(y_test, y_pred)*100)

Logistic Regression model accuracy(in %): 98.828125

**sklearn2PMML**

In [ ]:
!pip install --user --upgrade git+https://github.com/jpmml/sklearn2pmml.git

**Pickle**

In [ ]:
import pickle

In [ ]:
filename = 'finalized_model.sav'

In [ ]:
pickle.dump(reg, open(filename, 'wb'))

**Joblib**

In [ ]:
from sklearn.externals import joblib
joblib.dump(reg, '/content/drive/My Drive/model.pkl')

['/content/drive/My Drive/model.pkl']

In [ ]:
clf = joblib.load('/content/drive/My Drive/model.pkl')

**Flask**

In [ ]:
from flask import Flask
app = Flask(__name__)
if __name__ == '__main__':
     app.run(port=8081)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8081/ (Press CTRL+C to quit)

In [ ]:
from flask import Flask, jsonify
from sklearn.externals import joblib
import pandas as pd
app = Flask(__name__)
@app.route('/predict', methods=['POST'])
def predict():
      json_ = request.json
      query_df = pd.DataFrame(json_)
      query = pd.get_dummies(query_df)
      prediction = clf.predict(query)
      return jsonify({'prediction': list(map(int,list(prediction)))})
if __name__ == '__main__':
     clf = joblib.load('/content/drive/My Drive/model.pkl')
     app.run(port=8081)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8081/ (Press CTRL+C to quit)

In [ ]:
!python main.py

python3: can't open file 'main.py': [Errno 2] No such file or directory

**Flask on colab**

In [ ]:
import socket
print(socket.gethostbyname(socket.getfqdn(socket.gethostname())))

from flask import Flask
app = Flask(__name__)

@app.route("/")
def hello():
      clf = joblib.load('/content/drive/My Drive/model.pkl')
      json_ = request.json
      query_df = pd.DataFrame(json_)
      query = pd.get_dummies(query_df)
      prediction = clf.predict(query)
      return jsonify({'prediction': list(prediction)})

import threading
threading.Thread(target=app.run, kwargs={'host':'0.0.0.0','port':8083}).start()

 * Serving Flask app "__main__" (lazy loading)
172.28.0.2
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off